<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HOME PAGE</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

</head>

<body>
  <div class="banner" style="background-image: url('/static/Images/backphoto.png'); vertical-align: top;">
    <div class="navbar">
      <img src="/static/images/CTOprofile.png" class="logo">
      <div></div>
      <ul>
        <li><a href="#"><b>Home</b></a></li>
        <li><a href="#resume"><b>Templates</b></a></li>
        <li><a href="#aboutus"><b>About Us</b></a></li>
      </ul>
    </div>

    <div class="content">
      <h1 style="color: #663399">BUILD YOUR RESUME</h1>
      <!--              <p style="color: indigo">Click on the link below which will redirect you to-->
      <!--                  our telegram BOT .-->
      
      <div>
        <button type="button"><span><a href="http://t.me/Resume_builderBot"
              style="color: #191970; font-size: 15px; text-decoration: none; " ></span>CREATE NOW</button>
        </a>
      </div>
    </div>
  </div>
  <br><br>
  <div class="text-center">
    <h1>Quick and Easy Online Resume Builder</h1>
    <p class="text-center ">A perfect resume is your winning ticket to a great job.</p><p class="text-center"> Our easy-to-use online resume builder
      puts you on the professional fast track.</p>
      <br><br>
    <div class="text-center font-size:50px">
      <h2>How Resume Builder Works</h2>
      <p class="text-center" >
        Our online resume creator lets you build a powerful resume from scratch.</p>
      <p class="text-center" >You bring your experience; Resume Builder handles everything else in
        just <strong>four simple steps</strong></p>
    </div>
    <!-- drop start -->
    <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> -->
      <!-- item -->
      <br><br><br>
      <div  role="tab" id="heading1">
          <img  class ="img"  src='/static/images/step1.png' alt="Step 1 Icon" width="200" height="200">

      </div>
      <div>
        <p style="font-size: 40px; text-transform: none; color:rgb(38, 153, 230)">
      Click on CREATE NOW button to redirect our telegram bot</p></div><br><br>
      <div  role="tab" id="heading1">
        <img  class ="img" src='/static/images/step2.png' alt="Step 1 Icon" width="200" height="200">

    </div>

    <div>
      <p style="font-size: 40px; text-transform: none; color:rgb(93, 131, 153)"> Use /register on our telegram bot </p>
    </div>
    <br><br>
    <div  role="tab" id="heading1">
      <img  class ="img" src='/static/images/step3.png' alt="Step 1 Icon" width="200" height="200">

  </div>
  
  <div>
    <p style="font-size: 40px; text-transform: none; color:#5e5e8a">After registration, you will get your resume link </p>
  </div>
  <br><br>
  <div  role="tab" id="heading1">
      <img  class ="img" src='/static/images/step4.png' alt="Step 1 Icon" width="200" height="200">

  </div>

  <div>
    <p style="font-size: 40px; text-transform: none; color:rgb(27, 56, 27)">Open that link and download your resume.</p>
  </div>
    <br><br>
     
    <div class="botton2">
      <button type="button"><span><a href="http://t.me/Resume_builderBot"
            style="color: #191970; font-size: 20px; text-decoration: none; " ></span>CREATE NOW</button>
      </a>
    </div>
<br><br><br>
    <div class="text-center font-size:80px" id ="resume" >
      <h1>Templates Design For Resume</h1><br><br>
      <div class="carousel" >
    <div class="box" >
      <img  class ="image"src="/static/Images/resume1.png"></div>
      <div class="box">
      <img  class="image"src="/static/Images/resume2.png"></div>
      <div class="box">
      <img class="image"src="/static/Images/resume3.png"></div>
      <div class="box">
      <img class="image"src="/static/Images/resume4.png"></div>
   </div>
  </div>
  </div>
  
</div>
  </div>

  </div>
  
  <footer class="footer" id ="aboutus">
  	 <div class="container">
  	 	<div class="sec aboutus" >
  	 		
  	 			<h2>About Us</h2>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit deserunt magnam voluptatibus minima, ut voluptates ex, aliquam quia, odio iure harum qui! Sapiente, aut! Nihil repudiandae illo cupiditate quam nulla.
             </p>
           <ul class="sci">
            <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"  aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"  aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"  aria-hidden="true"></i></a></li>
         </ul>
  	 			<
  	 		</div>
        
        <div class ="sec contact">
          <h2>Contact Info</h2>
          <ul class ="info">
            <li>
              <span><i class ="fab fa-map-marker" aria-hidden="true"></i></span>
              <p>Nowrosjee Wadia College<br> Pune 411101<br>INDIA</p>
            </li>
            <li>
              <span><i class ="fab fa-phone" aria-hidden="true"></i></span>
              <p><a href ="tel:123456789">+12345678910</a></p>
            </li>
            <li>
              <span><i class ="fab fa-map-marker" aria-hidden="true"></i></span>
              <p><a href="mailto:ctoprfile@gmail.com">CTOprofile@gmail.com</a></p>
            </li>
          </ul>
        </div>
     </div>
  </footer>
</body>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

</html>


